extends layout

block content
    .lookup
        p= 'Hi there. This tool is provided for the benefit of the Twitch community at large. The tool returns all channels the user has a sword in out of the pool of millions of channels the tool tracks on a daily basis.'
        .lookup-input
            input#user(type="text" regexp="^\w+$")
            button#lookup= 'Lookup!'
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src=((process.env.BASEPATH || "") + '/index.js'))
