- var t = title + " - 3v.fi Mod Lookup"
- var stylesrc = process.env.PATH + "/style.css"
doctype html
html
  head
    title= t
    link(href=stylesrc, rel="stylesheet")
    meta(description="The largest directory of Twitch moderators. Find out where you're modded!")
  body
    .header
        nav
            ul
                li
                    a(href=(process.env.PATH + "/") class=(currentPath == '/' ? 'active' : '')) Lookup
                li
                    a(href=(process.env.PATH + "/top") class=(currentPath == '/top' ? 'active' : '')) Top
                li
                    a(href=(process.env.PATH + "/stats") class=(currentPath == '/stats' ? 'active' : '')) Stats
                li
                    a(href=(process.env.PATH + "/docs") class=(currentPath == '/docs' ? 'active' : '')) API Docs
    .content
        block content
    .footer
        p= 'Not associated with Twitch Interactive Inc. Information from this tool must not be used to harass, break any laws or in other abusive ways.'
        a(href="https://3v.fi/") 3v.fi
        = ' - '
        a(href="https://twitchstuff.3v.fi/") Other Twitchstuff
    script(src="/analytics.js" async)
